<header class="bg-white relative">
  <div class="flex justify-between">
    <div
      class="w-full sm:w-fit flex justify-between sm:justify-start gap-x-6 py-4"
    >
      <div class="flex justify-start gap-x-6">
        <div class="flex flex-shrink-0 items-center">
          <h1 class="text-xl font-semibold text-blue-600">
            <a href="/">CyberShelf</a>
          </h1>
        </div>
        <div class="flex items-center gap-x-8">
          <button
            id="categories"
            class="text-gray-900 text-lg flex gap-x-2 items-center"
            popovertarget="categories-popover"
          >
            Categories
            <span id="categories-chevron" class="transition transform">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="0.5rem"
                viewBox="0 0 512 512"
                class="-rotate-90"
              >
                <path
                  d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"
                />
              </svg>
            </span>
          </button>
        </div>
      </div>
      <div class="flex items-center sm:hidden">
      </div>
    </div>
    <div class="hidden sm:flex items-center gap-x-6">
      <%- include ('../components/search') %>
      <!-- If user is authenticated render the account settings/profile menu -->
      <% if (locals.authenticated) { %>
      <%- include ('../components/select_menu', {select_button_label: locals.name, select_button_style: "bg-blue-600 text-gray-100 rounded-md text-lg px-4 py-1.5", select_style: "flex flex-col px-4 py-1.5"}) %>
      <% } %>
      <button
        id="show-signin-form"
        class="bg-blue-600 text-gray-100 rounded-md text-lg px-4 py-1.5 <%= locals.authenticated ? 'hidden' : 'block' %>"
      >
        Sign In
      </button>
    </div>
  </div>
  <!-- Formatting this breaks it... -->
  <%- include ('../components/popover', {popover_id: "categories-popover", popover_class: "bg-white max-w-7xl w-full border-b border-gray-200 popover-open:absolute popover-open:inset-unset popover-open:top-[3.75rem] popover-open:left-1/2 popover-open:-translate-x-1/2 popover-open:p-4 popover-open:flex popover-open: gap-4"}) %>
  <%- include ('../components/popover', {popover_id: "mobile-menu"}) %>
  <%- include ('../components/modal') %>
</header>