<%- include ('../components/header') %>
<!-- Here we pass the locals object from index.ejs into the navigation template -->
<%- include ('../components/navigation', Object.assign(locals)) %>

<!-- We are going to inject the data into the div -->


<%- include ('../components/footer') %>

<div class="container mx-auto my-8">
    <div class="container justify-content-center justify-content-md-between">
        <button class="navbar-toggler border py-2 text-dark" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarLeftAlignExample" aria-controls="navbarLeftAlignExample" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
          </button>
          <div class="bg-blue-600 text-white py-5">
            <div class="row">
                <div class="col">
                    <div class="container py-5" style="padding-left: 100px">
                        <h1>Cybershelf</h1>
                        <br>
                        <h4>
                        Quality products at <br />
                        the price you want
                        </h4>
                        <br>
                        <a href="/about" class="btn btn-outline-light">Learn more</a>
                        <a href="/register" class="btn btn-light shadow-0 text-primary pt-2 border border-white">Purchase now</a>
                    </div>
                </div>
                <div class="col">
                    <img style="border:2px solid #ffffff" class="rounded-circle mt-4" src="https://media.discordapp.net/attachments/1168592041370984590/1181847298481864704/cybershelf_logo.png?ex=65828c11&is=65701711&hm=1872801c11dcb9eca5d27e02cb3b9da943acae5be24db31bd9e106280dd78af3&" width="250">
                </div>
            </div>
          </div>
    </div>
</div>

<!-- <div class="container mx-auto my-8">
  <!-- Jumbotron -->

    <!-- Container wrapper -->
    <!-- <div class="container justify-content-center justify-content-md-between"> -->
      <!-- Toggle button -->
      <!--<button class="navbar-toggler border py-2 text-dark" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarLeftAlignExample" aria-controls="navbarLeftAlignExample" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
  <div class="bg-blue-500 text-white py-5">
    <div class="container py-5">
      <h1>Cybershelf</h1>
      <h4>
        Quality products at <br />
        the price you want
      </h4>
      <a href="/about" class="btn btn-outline-light">Learn more</a>
      <a href="/register" class="btn btn-light shadow-0 text-primary pt-2 border border-white">Purchase now</a>
    </div>
  </div> -->
  <!-- Jumbotron -->
<!-- Products -->
<section>
  <div class="container my-5">
    <header class="mb-4">
      <h3>Featured products</h3>
    </header>

    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
        <div class="card w-100 my-2 shadow-2-strong">
          <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/1.webp" class="card-img-top" style="aspect-ratio: 1 / 1" />
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">GoPro HERO6 4K Action Camera - Black</h5>
            <p class="card-text">$790.50</p>
            <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
              <a href="#!" class="btn btn-primary shadow-0 me-1">Add to cart</a>
              <a href="#!" class="btn btn-light border px-2 pt-2 icon-hover"><i class="fas fa-heart fa-lg text-secondary px-1"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
        <div class="card w-100 my-2 shadow-2-strong">
          <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/2.webp" class="card-img-top" style="aspect-ratio: 1 / 1" />
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Canon camera 20x zoom, Black color EOS 2000</h5>
            <p class="card-text">$320.00</p>
            <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
              <a href="#!" class="btn btn-primary shadow-0 me-1">Add to cart</a>
              <a href="#!" class="btn btn-light border px-2 pt-2 icon-hover"><i class="fas fa-heart fa-lg text-secondary px-1"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
        <div class="card w-100 my-2 shadow-2-strong">
          <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/3.webp" class="card-img-top" style="aspect-ratio: 1 / 1" />
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Xiaomi Redmi 8 Original Global Version 4GB</h5>
            <p class="card-text">$120.00</p>
            <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
              <a href="#!" class="btn btn-primary shadow-0 me-1">Add to cart</a>
              <a href="#!" class="btn btn-light border px-2 pt-2 icon-hover"><i class="fas fa-heart fa-lg text-secondary px-1"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
        <div class="card w-100 my-2 shadow-2-strong">
          <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/4.webp" class="card-img-top" style="aspect-ratio: 1 / 1" />
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Apple iPhone 12 Pro 6.1" RAM 6GB 512GB Unlocked</h5>
            <p class="card-text">$120.00</p>
            <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
              <a href="#!" class="btn btn-primary shadow-0 me-1">Add to cart</a>
              <a href="#!" class="btn btn-light border px-2 pt-2 icon-hover"><i class="fas fa-heart fa-lg text-secondary px-1"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Products -->

<!-- Feature -->
<section class="mt-5" style="background-color: #f5f5f5;">
  <div class="container text-dark pt-3">
    <header class="pt-4 pb-3">
      <h3>Why choose Cybershelf?</h3>
    </header>

    <div class="row mb-4">
      <div class="col-lg-4 col-md-6">
        <figure class="d-flex align-items-center mb-4">
          <span class="rounded-circle bg-white p-3 d-flex me-2 mb-2">
            <i class="fas fa-camera-retro fa-2x fa-fw text-primary floating"></i>
          </span>
          <figcaption class="info">
            <h6 class="title">Hundreds of Vendors</h6>
            <p>Cybershelf makes it possible for users to sell their items on the site, so the product possibilities are endless</p>
          </figcaption>
        </figure>
        <!-- itemside // -->
      </div>
      <!-- col // -->
      <div class="col-lg-4 col-md-6">
        <figure class="d-flex align-items-center mb-4">
          <span class="rounded-circle bg-white p-3 d-flex me-2 mb-2">
            <i class="fas fa-star fa-2x fa-fw text-primary floating"></i>
          </span>
          <figcaption class="info">
            <h6 class="title">Quality products</h6>
            <p>We pride ourselves in ensuring top quality products being distributed to our customers</p>
          </figcaption>
        </figure>
        <!-- itemside // -->
      </div>
      <!-- col // -->
      <div class="col-lg-4 col-md-6">
        <figure class="d-flex align-items-center mb-4">
          <span class="rounded-circle bg-white p-3 d-flex me-2 mb-2">
            <i class="fas fa-plane fa-2x fa-fw text-primary floating"></i>
          </span>
          <figcaption class="info">
            <h6 class="title">Customer satisfaction</h6>
            <p>We have customer ratings through the roof! Customer satisfaction is our top priority</p>
          </figcaption>
        </figure>
        <!-- itemside // -->
      </div>
      <!-- col // -->
      <div class="col-lg-4 col-md-6">
        <figure class="d-flex align-items-center mb-4">
          <span class="rounded-circle bg-white p-3 d-flex me-2 mb-2">
            <i class="fas fa-users fa-2x fa-fw text-primary floating"></i>
          </span>
          <figcaption class="info">
            <h6 class="title">Worldwide shipping</h6>
            <p>You can purchase from Cybershelf no matter where you live!</p>
          </figcaption>
        </figure>
        <!-- itemside // -->
      </div>
      <!-- col // -->
      <div class="col-lg-4 col-md-6">
        <figure class="d-flex align-items-center mb-4">
          <span class="rounded-circle bg-white p-3 d-flex me-2 mb-2">
            <i class="fas fa-thumbs-up fa-2x fa-fw text-primary floating"></i>
          </span>
          <figcaption class="info">
            <h6 class="title">Simple to return</h6>
            <p>Our return policy is flexible to our customers</p>
          </figcaption>
        </figure>
        <!-- itemside // -->
      </div>
      <!-- col // -->
      <div class="col-lg-4 col-md-6">
        <figure class="d-flex align-items-center mb-4">
          <span class="rounded-circle bg-white p-3 d-flex me-2 mb-2">
            <i class="fas fa-box fa-2x fa-fw text-primary floating"></i>
          </span>
          <figcaption class="info">
            <h6 class="title">Low prices</h6>
            <p>We offer low prices, below that of competitors</p>
          </figcaption>
        </figure>
        <!-- itemside // -->
      </div>
      <!-- col // -->
    </div>
  </div>
  <!-- container end.// -->
</section>
<!-- Feature -->

  <!-- We are going to inject the data into the div -->
  <div id="account" class="bg-white p-4 rounded shadow-md">
    <!-- Content will be injected here -->
  </div>

  <script>
    // This is an example of how to inject the content returned from a request into the page (without refreshing)
    $.ajax({
      url: "/account/settings",
      type: "GET",
      dataType: "html",
      success: function (data) {
        $("#account").html(data);
      },
      error: function (error) {
        $("#account").html(error);
      },
    });
  </script>
</div>

<%- include ('./home'), Object.assign(locals) %>
<%- include ('../components/footer') %>

