<div class="flex-1 overflow-y-auto px-4 py-6 sm:px-6">
  <div class="flex items-start justify-between">
    <h2 class="text-lg font-medium text-gray-900" id="slide-over-title">
      Shopping cart
    </h2>
  </div>

  <div class="mt-8">
    <div class="flow-root">
      <ul role="list" class="-my-6 divide-y divide-gray-200">
        <% locals.items.map((item) => { %>
        <li id="cart-product-card-<%- item.id %>" class="flex py-6">
          <div
            class="h-24 w-24 flex-shrink-0 overflow-hidden rounded-md border border-gray-200"
          >
            <img
              src="<%- item.image_url %>"
              alt="<%- item.title %>"
              class="h-full w-full object-cover object-center"
            />
          </div>

          <div class="ml-4 flex flex-1 flex-col">
            <div>
              <div
                class="flex justify-between text-base font-medium text-gray-900"
              >
                <h3><%= item.title %></h3>
                <p class="ml-4">$<%= item.price %></p>
              </div>
              <p class="mt-1 text-sm text-gray-500"><%= item.description %></p>
            </div>
            <div class="flex flex-1 items-end justify-between text-sm">
              <p class="text-gray-500">Qty <%= item.quantity %></p>

              <div class="flex">
                <button
                  id="remove-from-cart-<%- item.id %>"
                  type="button"
                  class="font-medium text-blue-600 hover:text-blue-500"
                >
                  Remove
                </button>
              </div>
            </div>
          </div>
        </li>
        <% }) %>
      </ul>
    </div>
  </div>
</div>

<div class="border-t border-gray-200 px-4 py-6 sm:px-6">
  <div class="flex justify-between text-base font-medium text-gray-900">
    <p>Subtotal</p>
    <p id="cart-total-price">$<%= locals.total_price %></p>
  </div>
  <p class="mt-0.5 text-sm text-gray-500">Free Shipping</p>
  <div class="mt-6">
    <a
      href="#"
      class="flex items-center justify-center rounded-md border border-transparent bg-blue-600 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-blue-700"
      >Checkout</a
    >
  </div>
</div>
